node_modules
deployments
logs
package-lock.json
.env
.env.dev
.env.local
.env.prod
.env.test

#Temporary files, will be removed later
5k_sheet_Merge.json
5k_sheet_Merge.xlsx
merged_array.json
mergedExcelData.xlsx

array1.json
array2.json
demo_sheet1.json
demo_sheet2.json
95K_Final_Data_All_Merge-PT4.xlsx
Merge_4.json
tubularFinalResponse.json
List_2.json
List_3.json
List_4.json
Merge_5-old.json
Merge_5.json
.idea
.vscode