<!DOCTYPE html>
<html>

<head>

    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body,
        p,
        h1,
        h2,
        h3,
        tr,
        td {
            font-family: 'roboto';
        }
    </style>

</head>

<body style="background-color:#EEEEEE">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
        <tbody>
            <tr>
                <td align="center"
                    style="font-size:0;padding: 10px 25px;word-break:break-word;">

                    <img alt="Animeta" src="{{images.requestCampaignLogo}}"
                        style="border:none;display:block;outline:none;text-decoration:none;width:400px;"
                        title="">

                    <p style="font-size:22px">Hello <b style="font-weight: 700">{{title}}</b></p>

                </td>
            </tr>
        </tbody>
    </table>



    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <div
                        style="text-align:center;width:70%;background-color:white;padding:20px 25px 20px 25px;word-break:break-word;border-radius:10px">
                        <img alt="Animeta mail" src="{{images.requestCampaignMailIcon}}"
                            style="border:none;outline:none;text-decoration:none;height:auto;font-size:13px;" title=""
                            width="100" height="auto">

                        <p style="text-align:center;font-weight: 400;">We're pleased to confirm that your campaign is now submitted to BrandStar.</p>
                        <p style="text-align:center;font-weight: 400;">Our operations team will be in touch with you
                            soon to coordinate the next steps.</p>
                        <p style="text-align:center;font-weight: 400;">Feel free to contact us at <b><a href="mailto:collaborations@animeta.ai">collaborations@animeta.ai</a></b> or
                            <b><a href="tel:+918104266277">+91 8104266277</a></b> if you have any immediate questions.</p>

                        <p style="text-align:center;margin-top:40px;font-weight:900"> <b>Thank you for choosing BrandStar.</b></p>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>


    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;margin-top:30px"
        width="100%">
        <tbody>
            <tr>
                <td align="center" style="word-break:break-word;font-weight: 400;">
                    Copyright © 2023

                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
        <tbody>
            <tr>
                <td align="center"
                    style="padding:10px 25px 10px 25px;padding-right:25px;padding-left:25px;word-break:break-word;font-weight: 700;">
                    Animeta

                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>